<div class="container">
    <div *ngIf="incorrect === true" id="false" style="text-align: center;">
        <p>Please enter a valid username and password</p>
    </div>
    <div *ngIf="signUpDone === true" class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        You've signed up!  Please go to the login page to sign in to your new account!
    </div>
    <form [formGroup]="form" (ngSubmit)="signUp()">
        
        <label>Username:</label>
        <br>
        <input type="text" [formControlName]="'username'"/>
        <br>
        <label>Password:</label>
        <br>
        <div class="input-group">
            <input [type]="fieldTextType ? 'text' : 'password'" [formControlName]="'password'"/>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()">
                    </i>
                </span>
            </div>
        </div>
        <br>
        <label
            class="col"
            [ngClass]="form.controls['password'].hasError('required') ||
            form.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
                {{ form.controls['password'].hasError('required') 
                || form.controls['password'].hasError('minlength')
                ? 'cancel' : 'check_circle'}}
            </i>
            Password must be 8 characters.
        </label>
        <br>
        <label
            class="col"
            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
                {{ form.controls['password'].hasError('required') 
                || form.controls['password'].hasError('hasNumber')
                ? 'cancel' : 'check_circle'}}
            </i>
            Must have at least 1 number.
        </label>
        <br>
        <label
            class="col"
            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
                {{ form.controls['password'].hasError('required') 
                || form.controls['password'].hasError('hasCapitalCase')
                ? 'cancel' : 'check_circle'}}
            </i>
            Must have at least one upper case letter (A-Z).
        </label>
        <br>
        <label
            class="col"
            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
                {{ form.controls['password'].hasError('required') 
                || form.controls['password'].hasError('hasSmallCase')
                ? 'cancel' : 'check_circle'}}
            </i>
            Must have at least 1 lower case letter (a-z).
        </label>
        <br>
        <label
            class="col"
            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
                {{ form.controls['password'].hasError('required') 
                || form.controls['password'].hasError('hasSpecialCharacters')
                ? 'cancel' : 'check_circle'}}
            </i>
            Must have at least 1 special character (!@#$%^&*)
        </label>
        <br>
        <!-- <input type="password" [formControlName]="'confirmPass'" id="floatingPassword" placeholder="Confirm Password"/>
        <br>
        <div *ngIf="form.confirmPass.touched && form.confirmPass.invalid" class="alert alert-danger">
            <div *ngIf="form.confirmPass.errors.confirmedValidator">Passwords don't match</div>
        </div> -->
        <br>
<button type="submit" class="btn btn-secondary btn-lg">Sign In</button>
    </form>
</div>