<div>
    <div *ngIf="incorrect === false" id="false">
        <p>Please enter a valid username and password</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="username">Username:</label>
        <br>
        <input type="text" [formControlName]="'username'"/>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" [formControlName]="'password'"/>
<br>
<button type="submit" class="btn btn-secondary btn-lg">Sign In</button>
        <!--Can work if signup component is created-->
        <!--<a href="/signup">Create a new account</a>-->   
    </form>
</div>
