<h1 class="container">Game On!</h1>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Game Name</th>
                <th scope="col">System</th>
                <th scope="col">Date Added</th>
                <th scope="col">Play Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of myGames" class="table-success"
            (click)="sendGame()">
                    <td>{{game.gamename}}</td>
                    <td>{{game.gamesystem}}</td>
                    <td>{{game.dateadded | date: 'fullDate'}}</td>
                    <td>{{game.playtime | time}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <app-add-game></app-add-game>
</div>

