.container{
    width: 700px;
    clear: both;
}
.container, h1{
    text-align: center;
}
ul li{
    text-align: left;
}
h1.container{
    background-color: rgb(128, 127, 127);
    border-radius: 10ch;
}