<h1 class="container">Game On!</h1>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Game Name</th>
                <th scope="col">System</th>
                <th scope="col">Date Added</th>
                <th scope="col">Play Time</th>
                <th scope="col">Completion Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of myGames" class="table-success">
                <td>{{game.gamename}}</td>
                <td>{{game.gamesystem}}
                    <i class="fa" [ngClass]="{
                        'fab fa-xbox': game.gamesystem == 'Xbox',
                        'fab fa-playstation': game.gamesystem == 'Playstation',
                        'fas fa-gamepad': game.gamesystem == 'Nintendo',
                        'fas fa-laptop':  game.gamesystem == 'PC'
                    }"></i>
                </td>
                <td>{{game.dateadded | date: 'fullDate'}}</td>
                <td>{{game.playtime | time}}</td>
                <td>{{game.completion | uppercase}}</td>
                <i class="fas fa-info-circle" (click)="sendGame(game)"></i>
                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="editGame(game)"></i>
                <i class="fas fa-skull" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="confirmDelete(game)"></i>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <app-add-game></app-add-game>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update game!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reload()">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updateGame()" #f="ngForm">
                    <div class="container">
                        <div>
                            <label for="gamename">Game name</label>
                            <input id="gamename" [(ngModel)]="gameToUpdate.gamename" name="gamename" type="text">
                            <br>
                            <label for="playtime">Playtime</label>
                            <input id="playtime" type="number" [(ngModel)]="gameToUpdate.playtime" name="playtime">
                            <br>
                            <label>Game System</label>
                            <select [(ngModel)]="gameToUpdate.gamesystem" name="gamesystem">
                                <option value="">Select System</option>
                                <option *ngFor="let system of systems">{{system}}</option>
                            </select>
                            <br>
                            <label>Completion Status</label>
                            <select [(ngModel)]="gameToUpdate.completion" name="completion">
                                <option *ngFor="let status of completeStatus">{{status}}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg">Update Game</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reload()">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <button (click)="deleteGame()" class="btn btn-danger btn-lg">DELETE IT</button>
                </div>
            </div>
        </div>
    </div>
</div>