<div style="text-align: center;">
    <h1>Login Here!</h1>
</div>

<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="username" class="form-label mt-4">Username:</label>
        <input type="text" [formControlName]="'username'" />
        <label for="password">Password:</label>
        <div class="input-group">
            <!--Allow for text input, as well as implementing a "show password" function throug the icon-->
            <input [type]="fieldTextType ? 'text' : 'password'" [formControlName]="'password'" />
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                    }" (click)="toggleFieldTextType()">
                    </i>
                </span>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary btn-lg">Sign In</button>
    </form>
    <!--Error popup if incorrect login-->
    <div *ngIf="incorrect===true">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Oh no!</strong> Something went wrong. Try again!
        </div>

    </div>
</div>