<div *ngIf="game" class="container">
    <h2>{{game.gamename}} Stats</h2>
    <div>Playtime: <span>{{game.playtime | time}}</span></div>
    <div>System: <span>{{game.gamesystem}}</span></div>
    <div>Added on: <span>{{game.dateadded | date: 'fullDate'}}</span></div>
    <div>Last Modified: <span>{{game.datechanged | date: 'fullDate'}}</span></div>
</div>
<button (click)="getApi()">Get More Info</button>

<div *ngIf="gameApi" class="container">
    <h2>{{gameApi.name}}</h2>
    <h2>{{gameApi.desc}}</h2>
</div>

