<div *ngIf="game" class="container">
    <button class="btn- btn-warning" (click)="goBack()">Go back</button>
    <h2>{{game.gamename}} Stats</h2>
    <div>Playtime: <span>{{game.playtime | time}}</span></div>
    <div>System: <span>{{game.gamesystem}}</span></div>
    <div>Added on: <span>{{game.dateadded | date: 'fullDate'}}</span></div>
    <div>Last Modified: <span>{{game.datechanged | date: 'fullDate'}}</span></div>
    <button (click)="getData()" class="btn btn-info">Get More Info</button>
</div>
<br>
<br>
<div class="container">
    <div *ngIf="game.apiid != 0; else list">
        <div *ngFor="let dbGame of gameApi">
            <div *ngIf="dbGame.id===game.apiid">
                <h3>{{dbGame.name}}</h3>
                <br>
                <img [src]="dbGame.cover.url.replace('t_thumb', 't_cover_big')" alt="cover">
                <br>
                <p>{{dbGame.summary}}</p>
                <br>
                <div *ngFor="let video of dbGame.videos">
                    <a href="https://www.youtube.com/watch?v={{video.video_id}}">{{video.name}}</a>
                    <br>
                    <!-- <youtube-player videoId="video.video_id" suggestedQuality="default"></youtube-player> -->
                </div>
            </div>
        </div>
    </div>
    <ng-template #list>
        <div *ngFor="let game of gameApi">
            <h3>{{game.name}}</h3><p>Game ID: {{game.id}}</p>
            <img [src]="game.cover.url.replace('t_thumb', 't_cover_big')" alt="cover">
            <br>
            <button class="btn-secondary" (click)="addApiId(game.id)">Select this version</button>
        </div>
    </ng-template>
</div>
<!-- <br>
    <img [src]="gameApi.cover.url.replace('t_thumb', 't_cover_big')" alt="cover">
    <br>
    {{gameApi.name}}
    <br>
    {{gameApi.summary}}
    <br>
</div> -->

<!-- <div *ngIf="gameApi" class="container">
    
</div> -->