<div class="container">
    <!--Form for the adding of a new game-->
    <form [formGroup]="form" (ngSubmit)="addNewGame()">
        <label>Game Name</label>
        <input type="text" [formControlName]="'gamename'" />
        <br>
        <label>Game System</label>
        <select [formControlName]="'gamesystem'">
            <option value="">Select System</option>
            <option *ngFor="let option of options">{{option}}</option>
        </select>
        <br>
        <label>Play Time (Please enter as decimal)</label>
        <input type="number" [formControlName]="'playtime'" />
        <br>
        <label>Completion Status</label>
        <select [formControlName]="'completion'">
            <option *ngFor="let status of completeStatus">{{status}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-secondary btn-lg">Add Game</button>

    </form>
</div>