@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";


.container{
    width: 700px;
    clear: both;
}
body{
    --text-color: black;
    --bkg-color: white;
}
body.dark{
    --text-color: white;
    --bkg-color: black;
}
body{
    background: var(--bkg-color);
}
h1,p,h2,h3, label, em{
    color: var(--text-color);
}
